* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fc-text: white;
  --fc-titule: #ff2424;
  --fc-header: white;
  --bc-header: #000708;
  --bc-tb: #194B54;
  --bc-th: #0F2E33;
}

body {
  font-size: 1.6rem;
  background: var(--bc-header);
  color: var(--fc-header);
  
  
  
}
body * {
  font-family: 'Roboto', sans-serif;
}

#logo {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2.5rem;
  width: 800px;
  margin: 40px auto;
}

#logo > img {
  width: 8rem;
  height: 8rem;
}

#introduction h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 6rem;
}

#introduction p {
  font-weight: 400;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: white;
}

#search label {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

#search input {
  height: 5rem;
  width: 50rem;
  border-radius: .5rem 0 0 .5rem;
  font-size: 2rem;
  padding: 1rem;
}

#search button {
  height: 5rem;
  width: 10rem;
  border-radius: 0 .5rem .5rem 0;
  border-left: none;
  background-color: var(--bc-tb);
  color: white;
  font-size: 2rem;
}


table {
  color: var(--fc-text);
  width: 900px;
  margin: 4rem auto;
  background-color: var(--bc-tb);
  border-collapse: collapse;
  border-radius: 2rem;
  
  
}

#table-head {
  border-radius: 2rem 2rem 0 0;
}

#table-head th {
  height: 9rem;
  background: var(--bc-th);
  color: var(--fc-header);
  font-size: 1.6rem;
  text-transform: uppercase;
  min-width: 13rem;
  
}
#table-head th:first-child {
  border-radius: 2rem 0 0 0;
}

#table-head th:last-child {
  border-radius: 0 2rem 0 0;
}
#name-movie a {
  text-align: left;
}

#img-movie img {
  width: 90px;
  height: 120px;
  border-radius: 1rem;
  object-fit: contain; 
}

#name-movie {
  display: flex;
  align-items: center;
  gap: 3rem;
  
}

#name {
  text-align: left;
}

#name-movie a {
  text-decoration: none;
  color: var(--fc-titule);
  font-weight: bold;
  font-size: 2rem;
}

#name-movie a p {
  margin-top: 1rem;
  color: var(--fc-text);
  font-size: 1.4rem;
}

#table-body td {
  text-align: center;
  padding: 1rem;
}

#result {
  width: 100vw;
  background: white;
  color: var(--bc-header);
  padding: 20px;
  

}

#your-score {
  text-align: center;
  margin-bottom: 4rem;
}

#your-score h1 {
  color: var(--bc-header);
  margin-bottom: 3rem;
}

#your-score button {
  height: 8rem;
  width: 8rem;
  border-radius: 0 .5rem .5rem 0;
  border-left: none;
  background-color: var(--bc-tb);
  color: white;
  font-size: 2rem;
  border-radius: 1rem;

}

#your-score p {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--fc-titule);
  border: 1px solid var(--bc-tb);
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: var(--bc-tb);
  width: 8rem;
  margin: auto;
}

.final-sentence {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0F2E33;
  
}

.hide {
  display: none;
}

