@import url('https://fonts.googleapis.com/css2?family= Rancho & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fc-text: white;
  --fc-titule: #ff2424;
  --fc-header: white;
  --bc-header: #000708;
  --bc-tb: #194B54;
  --bc-th: #0F2E33;
}

body {
  font-size: 1.6rem;
  background-image: radial-gradient( circle, black 40%, var(--bc-header) 60%);
  color: var(--fc-header);
  width: 100%;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2.5rem;
  width: 98%;
  margin: 40px auto;
  padding-left: 0.5rem;
}

#logo > img {
  width: 8rem;
  height: 8rem;
}

#introduction h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: clamp(2rem, 2rem + 1.5vw, 8rem);
}

#introduction h3 {
  font-weight: 400;
  font-size: clamp(1rem, 1rem + 1vw, 4rem);
}

#search {
  height: 7rem;
  padding: 1rem;
  background-color: white;
  width: 100%;

}

#core-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60rem;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgb(189, 185, 185);
  border-radius: .5rem;
}

#searchInput:focus {
  outline: none;
  border-radius: .5rem .5rem 0 0;
}

#search label {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

#search input {
  height: 5rem;
  width: 60rem;
  border-radius: .5rem;
  font-size: 2rem;
  padding: 1rem;
}
.list {
  
  color: black;
  width: 59.9rem;
  background: rgba(255, 255, 255, 0.966);
  margin: auto;
  box-shadow: 0px 1px 3px 1px rgb(189, 185, 185);
  position: relative;
  z-index: 1;
  border-radius: 0 0 .5rem .5rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
  color: var(--bc-header);
  
  width: 59.9rem;
  margin: auto;
  padding: .5rem;
  font-size: 1.6rem;
  list-style-type: none;
  cursor: pointer;
  }
 
  .option img {
    height: 6rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 5px 1px rgb(53, 52, 52);
  }


table {
  color: var(--fc-text);
  width: 90rem;
  margin: 4rem auto;
  background-color: var(--bc-tb);
  border-collapse: collapse;
  border-radius: 2rem;
 
}

#table-head {
  border-radius: 2rem 2rem 0 0;
}

#table-head th {
  height: 9rem;
  background: var(--bc-th);
  color: var(--fc-header);
  font-size: 1.6rem;
  text-transform: uppercase;
  min-width: 13rem;
  
}
#table-head th:first-child {
  border-radius: 2rem 0 0 0;
}

#table-head th:last-child {
  border-radius: 0 2rem 0 0;
}
#name-movie a {
  text-align: left;
}

#img-movie img {
  width: 90px;
  height: 120px;
  border-radius: 1rem;
  object-fit: contain; 
}

#name-movie {
  display: flex;
  align-items: center;
  gap: 3rem;
  
}

#name {
  text-align: left;
}

#name-movie a {
  text-decoration: none;
  color: var(--fc-titule);
  font-weight: bold;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  display: block;
}

#name-movie a p {
  margin-top: 1rem;
  color: var(--fc-text);
  font-size: clamp(0.7rem, 1rem + 1vw, 1.4rem);
}
.title {
  
}

.table-body td {
  text-align: center;
  padding: 1rem;
}

#result {
  width: 100%;
  background: white;
  color: var(--bc-header);
  padding: 20px;
  height: 25rem;
  

}

#your-score {
  text-align: center;
  margin-bottom: 4rem;
}

#your-score h1 {
  color: var(--bc-header);
  margin-bottom: 3rem;
  font-size: clamp(1.8rem, 1.8rem + 1.5vw, 7rem)
}

#your-score button {
  height: 8rem;
  width: 16rem;
  border-radius: 0 .5rem .5rem 0;
  border-left: none;
  background-color: var(--bc-tb);
  color: red;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;

}

#your-score button:hover {
  font-weight: 700;
}

#your-score p {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--fc-titule);
  border: 1px solid var(--bc-tb);
  padding: 2rem 2rem;
  border-radius: 1rem;
  background: var(--bc-tb);
  width: 16rem;
  height: 8rem;
  margin: auto;
}

.final-sentence {
  text-align: center;
  font-size: clamp(1rem, 1rem + 1.5vw, 2rem);
  font-weight: bold;
  color: #0F2E33;
  
}

.hide {
  display: none;
}
.background {
  width: 90rem;
  margin: auto;
  object-fit: fill;
}

.background h1 {
  text-align: center;
  font-family: 'Rancho', cursive;
  font-size: clamp(2rem, 2rem + 1.5vw, 8rem);
}
.background img {
  width: 90rem;
  object-fit: fill;
}

footer {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 2rem;
}

footer a {
  cursor: pointer;
  color: white;
}

footer a:first-child {
  margin-right: 7px;
}

footer a:hover {
  font-weight: bold;
}

footer p span {
  font-size: 1.5rem;
  
}
@media (max-width: 925px) {

  #core-search {
    width: clamp(40rem, 90%, 60rem);
  }

  #search input {
    width: clamp(40rem, 100%, 60rem);
    margin: auto;
  }

  .tablet {
    display: none;
  }
  #input-div {
    width: clamp(40rem, 100%, 60rem); 
  }

  .list {
    width: clamp(40rem, 89%, 59rem);
  }

  table {
    width: clamp(40rem, 95%, 90rem);
  }
  #table-head th {
    font-size: clamp(1rem, 1rem + 1.5vw, 1.5rem);
    min-width: 9rem
  }

  .background {
    width: clamp(40rem, 95%, 90rem);
    object-fit: contain;
  }

  .background img {
    width: clamp(40rem, 100%, 90rem);
    object-fit: contain;
  }


}

@media (max-width: 600px) {
  .mobile {
    display: none;
  }

}


